.attribute-component
  border 1px dashed #f00
  text-align: center
  padding: 3%
  border-top: 1px solid #E0E0E0
  transition: 0.3s
  i
    opacity: 0
    // font-size: 20px
    float: right
    transition: 0.3s
  &:hover
    background: #F5F5F5
    i
      opacity: 1
